<%- include('./layouts/header') %>

<div style="border: 2.4px solid #EAEAEA;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;" class="container">
  <h1>Dental Surgery Department</h1>
  
  <div class="department-info" >
    <p>
      Welcome to our Dental Surgery department, where your oral health is our top priority. Our team of skilled dentists and oral surgeons is dedicated to providing comprehensive care for all aspects of dental conditions.
    </p>
    
    <p>
      We offer a wide range of services, including preventive care, restorative treatments, and advanced surgical procedures for various dental issues. Whether you're in need of routine cleanings, fillings, or dental implants, we're here to support you every step of the way.
    </p>
    
    <p>
      At our state-of-the-art facility, we utilize the latest technologies and treatment modalities to ensure the highest standards of dental care. Our compassionate and experienced team will work closely with you to address your dental concerns and achieve optimal oral health.
    </p>
    
    <p>
      Your smile is too important to neglect. Schedule an appointment with our dental surgery department today and experience the difference in quality dental care.
    </p>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet nisi vitae ex volutpat tempor. Duis non enim id risus fermentum placerat. Proin mollis nunc nec libero facilisis, ut eleifend felis ultrices. Morbi sed lectus felis. Aliquam vel nisi a metus malesuada aliquet. Nullam at feugiat libero. Integer consectetur purus ut tellus gravida, id posuere enim convallis. Suspendisse potenti.
    </p>
    
    <p>
      Fusce consectetur, nisl id luctus varius, tortor nunc ultrices turpis, ut fermentum velit libero quis nulla. Sed commodo pharetra bibendum. Integer vel nisi quis magna congue congue eu ac justo. Fusce vitae erat nec velit suscipit lacinia. Donec auctor eleifend neque a feugiat. Phasellus quis semper nulla. Curabitur sem ligula, posuere ac leo et, sodales commodo velit.
    </p>
    
    <p>
      Vivamus euismod sagittis felis, ac volutpat justo tincidunt sed. Cras malesuada metus vel neque vestibulum, non tincidunt est iaculis. Curabitur interdum metus a quam lobortis, sed venenatis urna fermentum. Sed efficitur erat vel tellus viverra, at fringilla nisi dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas accumsan lectus nec neque vestibulum, ut lobortis felis aliquet.
    </p>
  </div>
</div>

<%- include('./layouts/footer') %>
