<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dyuddvjlv/image/upload/v1717058679/ys7jivuaqyb0yzncfvef.png">
    

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/style.css" rel="stylesheet">
</head>
<body>


<!-- Navbar Start -->
<nav style="height:98px; display:flex"  class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <div class="centerrr">
            <img src="https://res.cloudinary.com/dyuddvjlv/image/upload/v1717312806/q43cr9bsoapvgdqgr4li.png" style="    width: 130px;
            margin-top: 12px;" alt="">
        </div>
    </a>
    <!-- <img src="../img/logo.png" alt=""> -->
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav m-auto p-4 p-lg-0" style="background-color: white;">
            <a href="/" class="nav-item nav-link active">Home</a>
            
            <% if (!user || user.role === 'user') { %> <!-- Check if user is not authenticated or role is user -->
                <a href="/about" class="nav-item nav-link">About</a>
          <% } %>
          <% if (user) { %> <!-- Start of dynamic navigation -->
            <a class="nav-link" href="/profile">Profile</a>
            <a class="nav-link" href="/doctors-data">All Doctors</a>
            
            <% if (user.role !== 'admin') { %>
                <a href="/gethospital" class="nav-item nav-link">Hospitals</a>
                <a href="/labs" class="nav-item nav-link">Labs</a>
                <% } %>
                <% if (user.role === 'admin') { %>
                    
                    <a class="nav-link" href="/users">Manage Users</a>
                    <a class="nav-link" href="/contact-messages">Messages</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Add</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                            <a href="/add-lab" class="dropdown-item">Labs</a>
                            <a href="/hospitals" class="dropdown-item">Hospitals</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">See</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                            <a href="/labs" class="dropdown-item">Labs</a>
                            <a href="/gethospital" class="dropdown-item">Hospitals</a>
                        </div>
                    </div>
            <% }  %>
            <% if (user.role === 'doctor') { %>
                <a class="nav-link" href="/appointments"> Appointments</a>
                <a class="nav-link" href="/doctor/data-input">Update data</a>
                <% } %>
          <% } %> <!-- End of dynamic navigation -->
          
          
          <% if (!user || user.role === 'user') { %> <!-- Check if user is not authenticated or role is user -->
              <a href="/contact" class="nav-item nav-link">Contact</a>
          <% } %>
      </div>
      <% if (user) { %> 
        <a href="/logout" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">logout<i class="fa fa-arrow-right ms-3"></i></a>
        
        <% } else { %>
            
            <!-- <a href="/register" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Register<i class="fa fa-arrow-right ms-3"></i></a> -->
            <a href="/login" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Login<i class="fa fa-arrow-right ms-3"></i></a>
            
            <% } %>
        </div>
    </nav>
    
    <div class="containerr">
        <div class="flex-container align-items-center border full-width custom-padding cc text-center" style="margin-top: 40px; border:none">
            <h1>We're lost in space | Better go back and do it again </h1>
            <br />
            <h3><%= error.status %> | <%= error.message %></h3>
            <br />
            <div class="block">

                <a href="/" style="height: 33px;
    background-color: #0463FC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    border-radius: 9px;
        margin-top: 35px;
" >let's go back to home</a>
            </div>
        </div>
    </div>
    
    
    

</body>
</html>
