<%- include('./layouts/header') %>

<div style="border: 2.4px solid #EAEAEA;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;" class="container">
  <h1>Laboratory Department</h1>
  
  <div class="department-info" >
    <p>
      Welcome to our Laboratory department, where accurate diagnostics and precise testing are our specialties. Our team of skilled technicians and medical professionals is dedicated to providing reliable laboratory services to support your healthcare needs.
    </p>
    
    <p>
      We offer a wide range of diagnostic tests, including blood tests, urine analysis, imaging studies, and more. Our state-of-the-art laboratory is equipped with the latest technologies to ensure accurate and timely results for your healthcare providers.
    </p>
    
    <p>
      At our facility, we adhere to strict quality control measures to maintain the highest standards of laboratory testing. Whether you're undergoing routine screenings, monitoring chronic conditions, or investigating complex medical issues, you can trust our laboratory team to deliver precise and reliable results.
    </p>
    
    <p>
      Your health is our priority, and we are committed to providing you with the information you need to make informed decisions about your care. Schedule your laboratory tests with us today and experience the difference in quality diagnostics.
    </p>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet nisi vitae ex volutpat tempor. Duis non enim id risus fermentum placerat. Proin mollis nunc nec libero facilisis, ut eleifend felis ultrices. Morbi sed lectus felis. Aliquam vel nisi a metus malesuada aliquet. Nullam at feugiat libero. Integer consectetur purus ut tellus gravida, id posuere enim convallis. Suspendisse potenti.
    </p>
    
    <p>
      Fusce consectetur, nisl id luctus varius, tortor nunc ultrices turpis, ut fermentum velit libero quis nulla. Sed commodo pharetra bibendum. Integer vel nisi quis magna congue congue eu ac justo. Fusce vitae erat nec velit suscipit lacinia. Donec auctor eleifend neque a feugiat. Phasellus quis semper nulla. Curabitur sem ligula, posuere ac leo et, sodales commodo velit.
    </p>
    
    <p>
      Vivamus euismod sagittis felis, ac volutpat justo tincidunt sed. Cras malesuada metus vel neque vestibulum, non tincidunt est iaculis. Curabitur interdum metus a quam lobortis, sed venenatis urna fermentum. Sed efficitur erat vel tellus viverra, at fringilla nisi dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas accumsan lectus nec neque vestibulum, ut lobortis felis aliquet.
    </p>
  </div>
</div>

<%- include('./layouts/footer') %>
